includeConfig 'configs/local.config'

params {

  indir  = "/Users/anthonyfederico/GitHub/nf-gwas-pipeline/data"
  outdir = "/Users/anthonyfederico/GitHub/nf-gwas-pipeline/results"

  vcf_list   = "${params.indir}/toy_vcf.csv"
  pheno      = "${params.indir}/pheno_file_logistic.csv"
  
  phenotype = "outcome"
  covars     = "age,sex,PC1,PC2,PC3,PC4"
  
  // -----------------------------------------------------
  // PCA and GRM
  // -----------------------------------------------------
  
  pca_grm  = false
  snpset   = "${params.indir}/snpset.txt"
  grm      = "null"

  // -----------------------------------------------------
  // Null Model Parameters 
  // -----------------------------------------------------
  
  model    = "logistic"
  test     = "Score"

  // -----------------------------------------------------
  // GWAS Parameters
  // -----------------------------------------------------
  
  gwas     = true
  imputed  = true

  // -----------------------------------------------------
  // Gene-based Analysis Parameters
  // -----------------------------------------------------
  
  gene_based  = false
  max_maf     = 0.5
  method      = "Burden"
  // (only hg19 available for R/3.6.0)

  // -----------------------------------------------------
  // Genome-wide longitudinal Analysis Parameters
  // -----------------------------------------------------
  
  longitudinal = false
  random_slope = "null"

  // -----------------------------------------------------
  // Summary_plot Parameters
  // -----------------------------------------------------
  
  group              = "group"
  min_maf            = 0.1
  max_pval_manhattan = 0.9999999

  // -----------------------------------------------------
  // Annotation Parameters
  // -----------------------------------------------------

  max_pval   = 1
  ref_genome = "hg19"
  
}
