includeConfig 'configs/local.config'

params {

  indir  = "/nf-gwas-pipeline/data"
  outdir = "/nf-gwas-pipeline/results"

  vcf_list   = "${params.indir}/toy_vcf.csv"
  gds_list   = "${params.indir}/toy_gds.csv"
  pheno      = "${params.indir}/pheno_file_logistic.csv"
  
  phenotype = "outcome"
  covars     = "age,sex"
 
  // -----------------------------------------------------
  // QC
  // -----------------------------------------------------
  
  qc        = false
  gds_input = true

  
  // -----------------------------------------------------
  // PCA and GRM
  // -----------------------------------------------------
  
  pca_grm  = false
  snpset   = "null"
  grm      = "null"

  // -----------------------------------------------------
  // Null Model Parameters 
  // -----------------------------------------------------
  
  model    = "logistic"
  test     = "Score.SPA"

  // -----------------------------------------------------
  // GWAS Parameters
  // -----------------------------------------------------
  
  gwas     = true
  imputed  = true

  // -----------------------------------------------------
  // Gene-based Analysis Parameters
  // -----------------------------------------------------
  
  gene_based  = false
  max_maf     = 0.5
  method      = "Burden"
  // (only hg19 available for now)

  // -----------------------------------------------------
  // Genome-wide longitudinal Analysis Parameters
  // -----------------------------------------------------
  
  longitudinal = false
  random_slope = "null"

  // -----------------------------------------------------
  // Summary_plot Parameters
  // -----------------------------------------------------
  
  group              = "group"
  dosage             = false
  min_maf            = 0.1
  max_pval_manhattan = 0.9999999

  // -----------------------------------------------------
  // Annotation Parameters
  // -----------------------------------------------------

  max_pval   = 0.99
  ref_genome = "hg19"
  
}
