includeConfig 'local.config'

params {

  indir  = "/nf-gwas-pipeline/data"
  outdir = "/nf-gwas-pipeline/result-gwas-1KG-logistic"

  vcf_list   = "${params.indir}/1KG_vcf.csv"
  pheno      = "${params.indir}/1KG_pheno_logistic.csv"
  
  phenotype = "outcome"
  covars     = "sex,PC1,PC2,PC3,PC4"
  
  // -----------------------------------------------------
  // PCA and GRM
  // -----------------------------------------------------
  
  pca_grm  = true
  snpset   = "null"
  grm      = "null"

  // -----------------------------------------------------
  // Null Model Parameters for GWAS and Gene-based Analysis 
  // -----------------------------------------------------
  
  model    = "logistic"
  test     = "Score.SPA"

  // -----------------------------------------------------
  // GWAS Parameters
  // -----------------------------------------------------
  
  gwas     = true
  imputed  = false

  // -----------------------------------------------------
  // Gene-based Analysis Parameters
  // -----------------------------------------------------
  
  gene_based  = false
  max_maf     = 0.5
  method      = "Burden"
  // (only hg19 available for R/3.6.0)

  // -----------------------------------------------------
  // Genome-wide longitudinal Analysis Parameters
  // -----------------------------------------------------
  
  longitudinal = false
  random_slope = "null"

  // -----------------------------------------------------
  // Summary_plot Parameters
  // -----------------------------------------------------
  
  group              = "Population"
  min_maf            = 0.1
  max_pval_manhattan = 0.5

  // -----------------------------------------------------
  // Annotation Parameters
  // -----------------------------------------------------

  max_pval   = 0.05
  ref_genome = "hg19"
  
}
