includeConfig 'local.config'

params {

  indir  = "/rprojectnb2/necs/Zeyuan_Analysis/GWASpipeline/GWAS_pipeline_up_to_date/nf-gwas-pipeline/data"
  outdir = "/rprojectnb2/necs/Zeyuan_Analysis/GWASpipeline/GWAS_pipeline_up_to_date/nf-gwas-pipeline/result-gwla-1KG-linear-slope"

  vcf_list   = "${params.indir}/1KG_vcf.csv"
  pheno      = "${params.indir}/1KG_pheno_longitudinal.csv"
  
  phenotype = "outcome"
  covars     = "sex,age,PC1,PC2,PC3,PC4"
  
  // -----------------------------------------------------
  // PCA and GRM
  // -----------------------------------------------------
  
  pca_grm  = true
  snpset   = "null"
  grm      = "null"

  // -----------------------------------------------------
  // Null Model Parameters 
  // -----------------------------------------------------
  
  model    = "linear"
  test     = "Score"

  // -----------------------------------------------------
  // GWAS Parameters
  // -----------------------------------------------------
  
  gwas     = false
  imputed  = false

  // -----------------------------------------------------
  // Gene-based Analysis Parameters
  // -----------------------------------------------------
  
  gene_based  = false
  max_maf     = 0.05
  method      = "Burden"
  // (only hg19 available for R/3.6.0)

  // -----------------------------------------------------
  // Genome-wide longitudinal Analysis Parameters
  // -----------------------------------------------------
  
  longitudinal = true
  random_slope = "delta.age"

  // -----------------------------------------------------
  // Summary_plot Parameters
  // -----------------------------------------------------
  
  group              = "Population"
  min_maf            = 0.1
  max_pval_manhattan = 0.5

  // -----------------------------------------------------
  // Annotation Parameters
  // -----------------------------------------------------

  max_pval   = 0.01
  ref_genome = "hg19"
  
}
