PROJECT = 'necs'

process {
  executor = 'sge'
  scratch  = true
  errorStrategy = 'finish'

  $qc_miss.clusterOptions          = "-P ${PROJECT} -l h_rt=48:00:00 -pe omp 22"
  $qc_mono.clusterOptions          = "-P ${PROJECT} -l h_rt=48:00:00 -pe omp 22"
  $vcf_to_gds.clusterOptions          = "-P ${PROJECT} -l h_rt=24:00:00 -pe omp 1"
  $merge_gds.clusterOptions          = "-P ${PROJECT} -l h_rt=48:00:00 -pe omp 1"
  $pcair.clusterOptions          = "-P ${PROJECT} -l h_rt=48:00:00 -pe omp 1"
  $pcrelate.clusterOptions          = "-P ${PROJECT} -l h_rt=24:00:00 -pe omp 1"
  $nullmod.clusterOptions          = "-P ${PROJECT} -l h_rt=24:00:00 -pe omp 1"
  $nullmod_skip_pca_grm.clusterOptions          = "-P ${PROJECT} -l h_rt=24:00:00 -pe omp 1"
  $gwas.clusterOptions          = "-P ${PROJECT} -l h_rt=24:00:00 -pe omp 22"
  $gwas_skip_pca_grm.clusterOptions          = "-P ${PROJECT} -l h_rt=24:00:00 -pe omp 22"
  $gene_based.clusterOptions          = "-P ${PROJECT} -l h_rt=24:00:00 -pe omp 22"
  $gene_based_skip_pca_grm.clusterOptions          = "-P ${PROJECT} -l h_rt=24:00:00 -pe omp 22"
  $nullmod_longitudinal.clusterOptions          = "-P ${PROJECT} -l h_rt=24:00:00 -pe omp 1"
  $nullmod_longitudinal_skip_pca_grm.clusterOptions          = "-P ${PROJECT} -l h_rt=24:00:00 -pe omp 1"
  $gwas_longitudinal.clusterOptions          = "-P ${PROJECT} -l h_rt=24:00:00 -pe omp 22"
  $combine_results_gene.clusterOptions          = "-P ${PROJECT} -l h_rt=24:00:00 -pe omp 1"
  $plot_gene.clusterOptions          = "-P ${PROJECT} -l h_rt=24:00:00 -pe omp 1"
  $caf_by_group.clusterOptions          = "-P ${PROJECT} -l h_rt=24:00:00 -pe omp 22"
  $caf_by_group_skip_pca_grm.clusterOptions          = "-P ${PROJECT} -l h_rt=24:00:00 -pe omp 22"
  $coincide_gwas.clusterOptions          = "-P ${PROJECT} -l h_rt=24:00:00 -pe omp 22"
  $merge_by_chr.clusterOptions          = "-P ${PROJECT} -l h_rt=24:00:00 -pe omp 22"
  $combine_results.clusterOptions          = "-P ${PROJECT} -l h_rt=24:00:00 -pe omp 1"
  $plot.clusterOptions          = "-P ${PROJECT} -l h_rt=24:00:00 -pe omp 1"
  $annovar_input.clusterOptions          = "-P ${PROJECT} -l h_rt=24:00:00 -pe omp 1"
  $annovar_ref.clusterOptions          = "-P ${PROJECT} -l h_rt=24:00:00 -pe omp 1"
  $annovar.clusterOptions          = "-P ${PROJECT} -l h_rt=24:00:00 -pe omp 1"
  $add_annovar.clusterOptions          = "-P ${PROJECT} -l h_rt=24:00:00 -pe omp 1"
  $report.clusterOptions          = "-P ${PROJECT} -l h_rt=24:00:00 -pe omp 1"
  $report_gene.clusterOptions          = "-P ${PROJECT} -l h_rt=24:00:00 -pe omp 1"
}
