process {
  executor = 'slurm'
  scratch = true
  errorStrategy = 'finish'

  withName: qc_miss {
  clusterOptions = "-c 1 -t 0-12:00 -p short --mem=40G"
  }
  withName: qc_mono {
  clusterOptions = "-c 1 -t 0-12:00 -p short --mem=40G"
  }
  withName: vcf_to_gds {
  clusterOptions = "-c 1 -t 0-12:00 -p short --mem=40G"
  }
  withName: vcf_to_gds_skip_qc {
  clusterOptions = "-c 1 -t 0-12:00 -p short --mem=40G"
  }
  withName: pruning {
  clusterOptions = "-c 1 -t 0-12:00 -p short --mem=40G"
  }
  withName: merge_pruned_gds {
  clusterOptions = "-c 1 -t 0-12:00 -p short --mem=40G"
  }
  withName: pcair {
  clusterOptions = "-c 1 -t 0-12:00 -p short --mem=40G"
  }
  withName: pcrelate {
  clusterOptions = "-c 1 -t 0-12:00 -p short --mem=40G"
  }
  withName: nullmod {
  clusterOptions = "-c 1 -t 0-12:00 -p short --mem=40G"
  }
  withName: nullmod_skip_pca_grm {
  clusterOptions = "-c 1 -t 0-12:00 -p short --mem=40G"
  }
  withName: gwas {
  clusterOptions = "-c 1 -t 0-12:00 -p short --mem=40G"
  }
  withName: gene_based {
  clusterOptions = "-c 1 -t 0-12:00 -p short --mem=40G"
  }
  withName: nullmod_longitudinal {
  clusterOptions = "-c 1 -t 0-12:00 -p short --mem=40G"
  }
  withName: nullmod_longitudinal_skip_pca_grm {
  clusterOptions = "-c 1 -t 0-12:00 -p short --mem=40G"
  }
  withName: gwas_longitudinal {
  clusterOptions = "-c 1 -t 0-12:00 -p short --mem=40G"
  }
  withName: combine_results_gene {
  clusterOptions = "-c 1 -t 0-12:00 -p short --mem=40G"
  }
  withName: plot_gene {
  clusterOptions = "-c 1 -t 0-12:00 -p short --mem=40G"
  }
  withName: caf_by_group {
  clusterOptions = "-c 1 -t 0-12:00 -p short --mem=40G"
  }
  withName: caf_by_group_skip_pca_grm {
  clusterOptions = "-c 1 -t 0-12:00 -p short --mem=40G"
  }
  withName: coincide_gwas {
  clusterOptions = "-c 1 -t 0-12:00 -p short --mem=40G"
  }
  withName: merge_by_chr {
  clusterOptions = "-c 1 -t 0-12:00 -p short --mem=40G"
  }
  withName: combine_results {
  clusterOptions = "-c 1 -t 0-12:00 -p short --mem=40G"
  }
  withName: plot {
  clusterOptions = "-c 1 -t 0-12:00 -p short --mem=40G"
  }
  withName: annovar_input {
  clusterOptions = "-c 1 -t 0-12:00 -p short --mem=40G"
  }
  withName: annovar_ref {
  clusterOptions = "-c 1 -t 0-12:00 -p short --mem=40G"
  }
  withName: annovar {
  clusterOptions = "-c 1 -t 0-12:00 -p short --mem=40G"
  }
  withName: add_annovar {
  clusterOptions = "-c 1 -t 0-12:00 -p short --mem=40G"
  }
  withName: report {
  clusterOptions = "-c 1 -t 0-12:00 -p short --mem=40G"
  }
  withName: report_gene {
  clusterOptions = "-c 1 -t 0-12:00 -p short --mem=40G"
  }
  
}
